html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Signika", sans-serif;
    background-image: url('asset/Columbina2.png');
    object-fit: cover;
    background-size: cover;
    background-position: center fixed;
    background-repeat: no-repeat;

}

header {
    display: grid;
    grid-template-columns: 1fr auto  1fr;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 20px;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-self: center;
    grid-column: 2;
}

.navbar a {
    text-decoration: none;
    font-family: "Signika", sans-serif;
    color: #FEFEFE;
    font-size: 18px;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 40px;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    text-decoration: underline;
    font-family: "Signika", sans-serif;
    color: #FEFEFE;
    font-size: 24px;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 40px;
    transition: all 0.3s ease-in-out;
}

.logo {
    display: flex;
    height: 60px;
    width: 60px;
}

.logo img {
    margin: 0 20px;
    border-radius: 50%;
}

.sign-in-navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: self-end;
    grid-column: 3;
}

.sign-in-navbar button:first-child {
    border-style: none;
    border: 1px solid #FEFEFE;
    background-color: #FEFEFE;
    border-radius: 40px;
    height: 40px;
    width: 80px;
    transition: all 0.3s ease-in-out;
}

.sign-in-navbar button:last-child {
    border-style: none;
    background-color: #BC98CF;
    border-radius: 40px;
    height: 40px;
    width: 80px;
    transition: all 0.3s ease-in-out;
}

.sign-in-navbar a {
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-size: 18px;
    font-weight: 500;
    font-family: "Signika", sans-serif;
    transition: all 0.3s ease-in-out;
}

.sign-in-navbar button:last-child a {
    text-decoration: none;
    color: #FEFEFE;
    font-size: 18px;
    font-weight: 500;
    font-family: "Signika", sans-serif;
    transition: all 0.3s ease-in-out;
}


.card {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-left {
    padding: 40px;
    height: 400px;
    width: 600px;
    background-color: #F4F3F1;
    border-radius: 40px 0 0 40px;
    box-shadow: 10px 10px 20px rgb(26, 26, 26);
}

.card-right {
    padding: 40px;
    height: 400px;
    width: 200px;
    border-radius: 0 40px 40px 0;
    background-image: url(asset/Columbina5.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 20px rgb(26, 26, 26);
}

.card-right img {
    width: 0px;
}

.card-main-left-title h1 {
    font-size: 64px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -25px;
}

.card-main-left-title h4 {
    font-size: 16px;
    font-weight: lighter;
}

.card-main-left-img  img {
    margin: 20px 20px 20px;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-footer img{
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #000000;
    margin-top: 8px;
    font-size: 32px;
    font-family: "Signika", sans-serif;
    font-weight: 500;
}

footer a:hover {
    color: red;
}